body {
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 16rem; 
}

a:link {
  text-decoration: none; 
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  border-bottom: 1px solid #ccc;
}

.project_list {
  width: 800px; 
}